/*CSS HEADER*/
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

.X-vertical {
  justify-content: center;
}

.Y-vertical {
  align-items: center;
}

.menu-bar {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 1000;
}

.flex {
  display: flex;
}

.menu {
  max-width: 100%;
  list-style-type: none;
  background: rgb(255, 255, 255, 0.1);
  box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}
.menu img {
  max-width: 100%;
  width: 3rem;
}

.menu > li {
  margin-left: 0px;
  padding: 10px;
}
.menu > li:first-child {
  color: green;
  margin-right: auto;
  padding-left: 0;
  left: 0;
}

.menu a {
  text-decoration: none;
  color: green;
  position: relative;
  transition: color 0.3s ease;
}

/*tạo hiệu ứng gạch chân khi rê chuột vào*/
.menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: black;
  bottom: 0;
  left: 50%;
  transition: all 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
  left: 0;
}

/*CSS body*/
section {
  margin-top: 100px;
  margin-bottom: 150px;
}

.brand-logo {
  position: relative;
  min-height: 350px;
}

.brand-logo img {
  position: relative;
  max-width: 100%;
  width: 18rem;
  rotate: -90deg;
  transform: scaleY(-1);
  z-index: 2;
  margin-bottom: 100px;
}

.Details > div {
  flex: 1;
}

.Detail {
  margin-left: auto;
}
.Detail h1 {
  color: green;
}

.brand-major {
  text-align: center;
  color: #aaaaaa;
  font-size: 80px;
  position: absolute;
  padding-left: 0px;
  z-index: -11;
}

.btn {
  margin-top: 5rem;
  background-color: green;
  border-radius: 10px;
  color: white;
}

/*CSS about us*/
.maincontainer {
  position: relative;
  flex: 1;
  height: 320px;
  margin: 20px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  /*dùng để lật cả 2 mặt trong không gian 3d, nếu ko có thì chỉ lật ngược 1 mặt*/
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card:hover {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: wheat;
}
.f1 {
  background-image: url(../images/c1.webp);
}

.f2 {
  background: url(../images/b2.jpg);
}

.f3 {
  background: url(../images/b3.jpeg);
}
.front > h2 {
  position: relative;
  text-align: center;
  top: 25%;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #aaaaaa;
  box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  transform: rotateY(180deg);
  text-align: center;
}
/*CSS products*/
.product {
  background-size: cover;
  margin: 20px;
  margin-left: 0;
  margin-right: 0;
}

.p1 {
  background-image: url(../images/b1.webp);
}

.product p {
  display: flex;
  color: white;
  align-items: center;
}
.product img {
  max-width: 100%;
  width: 1300px;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.p2 {
  background: url(../images/b2.jpg) 100%;
}

.p3 {
  background-image: url(../images/b3.jpeg);
}

@keyframes scroll-app-odd {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes scroll-app-even {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.product:nth-child(odd) {
  animation: scroll-app-odd linear;
  /*chỉ áp dụng animation khi thành phần hiện thị lên màn hình*/
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.product:nth-child(even) {
  animation: scroll-app-even linear;
  /*chỉ áp dụng animation khi thành phần hiện thị lên màn hình*/
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
